In [ ]:
반1 = 100
b = "홍길동"

In [ ]:
print(b)

홍길동

In [ ]:
pi = 3.14

In [ ]:
a = 100
b = 200
c = a + b

In [ ]:
print(c)

300

In [ ]:
print(a / b)  # 100 / 200
print(a // b) # 몫
print(a % b) # 나머지

0.5
0
100

In [ ]:
a = 100
b = "a"
print(a)
print(b)

100
a

In [ ]:
# 문자열 + 문자열 -> 문자열
# 숫자 + 숫자 -> 숫자
# 문자열 + 숫자 -> 오류
# 문자열 + str(숫자) -> str(숫자) -> 숫자를 문자로 변환
b = '박길동'
print( '내이름은 ' + b )
age = 30
print('나이는 ' + str(age))
# 자동 치환 기능
print( "이름은 %s, 나이는 %s" % (b, age) )

내이름은 박길동
나이는 30
이름은 박길동, 나이는 30

In [ ]:
이름 = "홍길동"
전화 = "010-111"
회사명 = "(주)날아라"
print( "제이름은 %s입니다. 연락처는 %s. 회사는 %s 입니다."%(이름,전화,회사명) )

# "제이름은 홍길동입니다. 연락처는 010-111. 회사는 (주)날아라 입니다."

제이름은 홍길동입니다. 연락처는 010-111. 회사는 (주)날아라 입니다.

In [ ]:
b = "홍길동100"
print( len(b) ) #b의 길이
print( b.isalnum() )

6
True

In [ ]:
email = "abc@abc.com"
print( email.index("@") ) #찾으려는 글자의시작번호 반환. 없으면 오류. 0부터시작
print( email.find("x") ) #없으면 -1 반환

3
-1

In [ ]:
d = "10:20:30"
d.split(":")

['10', '20', '30']

In [ ]:
# 리스트 : 값을 순서대로 묶은것
회원리스트 = [ "홍" ,"김", "박", ]
회비리스트 = [ 100, 200, 300 ]
print(회원리스트)

['홍', '김', '박']

In [ ]:
# 순번으로 추출, 0부터
회원리스트[ 2 ]
# 저장갯수
len(회비리스트)

3

In [ ]:
# 사전(Dictionary)
회비납부이력 = { "홍":100 } # 키:값 / 사물함번호:사물함에저장된물건
회비납부이력 = { "홍":100, "김":200, "박":300 }
print( 회비납부이력["박"] )

300

In [ ]:
회비납부이력["박"] = 400
print( 회비납부이력["박"] )
print( 회비납부이력 )

400
{'홍': 100, '김': 200, '박': 400}

In [ ]:
lotto_list = [] #빈 리스트
lotto_set = set() #빈 셋

In [ ]:
#로또번호생성: 난수생성기
import random
random.seed(100)

In [ ]:
r = random.randint(1,45)
lotto_list.append(r)
lotto_set.add(r)
print(lotto_list)
print(lotto_set)

[10, 30, 30, 12, 26, 23, 28, 33, 8]
{33, 8, 10, 12, 23, 26, 28, 30}

In [ ]:
number_list = [100,200,300,400]
number_list.pop(2) # 300삭제 - 순번으로 삭제
print(number_list)

[100, 200, 400]

In [ ]:
number_list.remove( 200 )#200 삭제 - 지우려는 값 설정
print(number_list)

[100, 400]

In [ ]:
#사전삭제
price_dict = {"apple":100, "banana":200, }
price_dict.pop("apple")
print(price_dict)

{'banana': 200}

In [ ]:
# if
gender = input("성별은? MALE, FEMALE")
if gender == "MALE" :
  print("남성입니다")
else:
  print("여성입니다")

성별은? MALE, FEMALEMALE
남성입니다

In [ ]:
# 숫자맞추기게임
# 컴퓨터는 1~100 난수를 정하고 사용자는 임의의숫자입력,
# 난수보다 낮은 숫자를 입력하면 "높여주세요",
# 난수보다 높은 숫자를 입력하면 "낮춰주세요"
# 맞추면 "정답입니다" 메시지 출력
import random
com_num = random.randint(1, 100)

In [ ]:
user_num = input("1~100사이 숫자를 입력~ ")
user_num = int(user_num)
if user_num == com_num:
  print("정답입니다~")
  print("정답입니다~")
elif user_num < com_num:
  print("높여주세요")
  print("높여주세요")
else:
  print("낮춰주세요")
  print("낮춰주세요")

1~100사이 숫자를 입력~ 69
정답입니다~

In [ ]:
a = "박"
c = 100 if a == "홍" else 200 if a == "김" else 300
print(c)

300

In [ ]:
# 숫자맞추기게임
# 컴퓨터는 1~100 난수를 정하고 사용자는 임의의숫자입력,
# 난수보다 낮은 숫자를 입력하면 "높여주세요",
# 난수보다 높은 숫자를 입력하면 "낮춰주세요"
# 맞추면 "정답입니다" 메시지 출력
import random
com_num = random.randint(1, 100)
user_num = -1 #사용자숫자 초기화

while com_num != user_num : #난수와 유저입력숫자가 다른경우 맞출때까지 반복
  user_num = input("1~100사이 숫자를 입력~ ")
  user_num = int(user_num)
  if user_num == com_num:
    print("정답입니다~")
    print("정답입니다~")
  elif user_num < com_num:
    print("높여주세요")
    print("높여주세요")
  else:
    print("낮춰주세요")
    print("낮춰주세요")
print("게임종료") #while문 종료후 실행

1~100사이 숫자를 입력~ 50
낮춰주세요
낮춰주세요
1~100사이 숫자를 입력~ 30
낮춰주세요
낮춰주세요
1~100사이 숫자를 입력~ 20
낮춰주세요
낮춰주세요
1~100사이 숫자를 입력~ 5
높여주세요
높여주세요
1~100사이 숫자를 입력~ 13
낮춰주세요
낮춰주세요
1~100사이 숫자를 입력~ 9
높여주세요
높여주세요
1~100사이 숫자를 입력~ 11
정답입니다~
정답입니다~
게임종료

In [ ]:
# while문으로 숫자 증가
count = 1
while count <= 5:
  print(count)
  count = count + 1

1
2
3
4
5

In [ ]:
# 1~100사이 짝수의 합
count = 1
total = 0 #누적
while count <= 100: # 1~100까지 반복
  if count %2 == 0: # count가 짝수이면
    total = total + count # 짝수 누적
  count += 1

print("total = %s" % (total))

total = 2550