In [6]:
import pandas as pd

df1 = pd.read_excel("./data/sample.xlsx")
type(df1)

pandas.core.frame.DataFrame

In [7]:
df2 = pd.read_excel("./data/sample.xlsx", sheet_name="score")
type(df2)

pandas.core.frame.DataFrame

In [9]:
df3 = pd.read_excel("./data/sample.xlsx", sheet_name=None)
type(df3) # DF이 여러개 묶인 형태

dict

In [13]:
df3.keys() # 시트목록

dict_keys(['info', 'score'])

In [14]:
df3["score"]

     이름   점수
0   Kim  100
1  Park   90
2   Lee   80

In [16]:
## 여러 sheet에 저장하기
writer = pd.ExcelWriter('data/sample_수정본.xlsx')

# sheet 별 저장
df3['info'].to_excel(writer, sheet_name= '정보')
df3['score'].to_excel(writer, sheet_name= '점수')

writer.close()

In [18]:
price_df = pd.read_csv(
    "./아파트(매매)__실거래가_20230615163631.csv",
    skiprows=15,
    encoding="euc-kr")
price_df

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일,거래유형,중개사소재지
0,서울특별시 강남구 개포동,1282,1282.0,0.0,개포래미안포레스트,59.92,202206,17,"195,000",10,2020,개포로 264,NaN,중개거래,서울 강남구
1,서울특별시 강남구 개포동,1282,1282.0,0.0,개포래미안포레스트,84.83,202211,25,"240,000",33,2020,개포로 264,NaN,중개거래,서울 강남구
2,서울특별시 강남구 개포동,1282,1282.0,0.0,개포래미안포레스트,84.86,202211,29,"240,000",5,2020,개포로 264,NaN,중개거래,서울 강남구
3,서울특별시 강남구 개포동,1282,1282.0,0.0,개포래미안포레스트,59.92,202301,5,"158,000",13,2020,개포로 264,NaN,중개거래,서울 강남구
4,서울특별시 강남구 개포동,1282,1282.0,0.0,개포래미안포레스트,59.92,202301,14,"166,000",13,2020,개포로 264,NaN,중개거래,서울 강남구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18809,서울특별시 중랑구 중화동,450,450.0,0.0,한신아파트(103~109),59.76,202304,12,"59,000",25,1997,동일로 752,NaN,중개거래,서울 동대문구
18810,서울특별시 중랑구 중화동,450,450.0,0.0,한신아파트(103~109),59.76,202304,15,"61,500",12,1997,동일로 752,20230522.0,중개거래,서울 중랑구
18811,서울특별시 중랑구 중화동,450,450.0,0.0,한신아파트(103~109),84.20,202305,3,"74,500",19,1997,동일로 752,NaN,중개거래,서울 중랑구
18812,서울특별시 중랑구 중화동,450,450.0,0.0,한신아파트(103~109),59.76,202305,5,"61,500",13,1997,동일로 752,NaN,중개거래,서울 중랑구
18813,서울특별시 중랑구 중화동,450,450.0,0.0,한신아파트(103~109),59.76,202305,29,"64,000",24,1997,동일로 752,NaN,중개거래,서울 중랑구

In [19]:
from mailmerge import MailMerge
document = MailMerge("data/수료증_template.docx")
document.get_merge_fields()

{'생년월일', '이름'}

In [20]:
document.merge(이름="김영환",생년월일="2000년 1월 1일")
document.write("data/수료증/수료증_김영환.docx")